<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>This is the home page template</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa consequuntur esse facilis animi vero exercitationem aut minus nulla dolorem id, molestias sed dignissimos blanditiis excepturi deserunt voluptatibus sequi cumque totam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ullam veniam molestias necessitatibus labore nesciunt deleniti dignissimos inventore odio, iste animi debitis voluptas voluptatum nam et sed aspernatur. Architecto, quo.
  Sequi accusantium fugit ducimus saepe aperiam accusamus voluptatum eum ex et unde placeat porro totam delectus labore iure consequatur repudiandae atque, voluptates quidem a. Quibusdam perferendis suscipit eaque molestiae numquam.
  Cum perferendis doloremque quisquam voluptatum officia esse architecto minus labore, a expedita, dolorem atque cumque at omnis. Veniam distinctio adipisci odio esse, nam assumenda reiciendis dolores sapiente in sequi quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis incidunt, magnam nostrum accusamus quasi quae, maiores dolorem aliquid ducimus eaque corrupti? Consequuntur magnam enim repellendus perferendis sit maxime veniam quidem?
  Earum quisquam hic labore voluptas libero laborum, deserunt fuga, maxime minima neque aliquam illum consequatur fugiat inventore temporibus cupiditate culpa illo laboriosam natus, quasi optio laudantium praesentium. Est, rem doloremque!
  Soluta, tempore? Magni cupiditate optio qui est hic rem necessitatibus aspernatur assumenda voluptatem sed quo sit nihil omnis eaque at inventore accusantium consequatur, maiores a velit aliquam saepe vel? A.</p>
  <button>Click me!</button>
</body>
</html>