<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <title>Posts</title>
</head>
<body>
    <h1 style="border-bottom: 2px solid  #141414;"><a href="http://localhost:3000/posts">Quora Posts</a></h1>
    <div class="postContainer">
        <% for (post of posts) { %>
            <div class="post">
                <h3>
                    <a href="http://localhost:3000/posts/<%= post.id %>">
                        @<%= post.username %>
                    </a>
                </h3>
                <p><%= post.content %></p>
                <a href="http://localhost:3000/posts/<%= post.id %>/edit"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
        <% } %>
    </div>
    <button id="newPostBtn"><a href="/posts/new">New Post</a></button>
</body>
</html>
