<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <title>New Post</title>
</head>
<body>
    <h1 style="border-bottom: 2px solid  #141414;"><a href="http://localhost:3000/posts">Quora Posts</a></h1>
    <h2><a href="http://localhost:3000/posts"><i id="backBtn" class="fa-solid fa-chevron-left"></i></a>New Post</h2>

    <form id="newPostForm" method="post" action="/posts">
        <label for="username">Username:</label><br>
        <input type="text" placeholder="Enter username" name="username" id="username" required>
        <br><br>

        <label for="content">Content:</label><br>
        <textarea placeholder="Enter Content" name="content" id="content" required></textarea>
        <br><br>

        <button>Submit</button>
    </form>
</body>
</html>